@import 'tailwindcss';

:root {
  --k-bg-color: #f2f3f5;
  --k-text-input-placeholder: #a8abb2;
  --k-layout-header-height: 50px;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

@theme {
  /* --color-k-bg: var(--k-bg-color); */
}

@layer components {
}
